<div class="container">
  <br /><br />
  <button type="button" class="btn btn-success">Crear Asesor</button>

  <br /><br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asesor of asesores">
        <th scope="row">{{asesor.nombre}}</th>
        <td>{{asesor.especialidad}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteAesor(asesor.nombre, asesores)" >Eliminar</button>
          <button type="button" class="btn btn-primary">Actualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
