<div class="container">
  <section class="">
    <div>
      <h1>Banco Cinte.</h1>

      <br />

      <p>
        <strong>Sobre nosotros</strong> <br />

        Durante 4 décadas hemos participado activamente en la construcción de
        Colombia y nos hemos convertido en un referente importante en el sector
        financiero del país. Hacemos parte del Grupo Empresarial Bolívar, que
        por más de 70 años ha acompañado a las personas, a las familias y a las
        empresas en el cumplimiento de sus objetivos. Somos reconocidos por el
        manejo único de nuestra imagen a través de la comunicación
        convirtiéndonos en una de las 5 marcas más valiosas y el primer Banco en
        recordación publicitaria de Colombia.
      </p>
    </div>
  </section>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/asesores" class="nav-link"  routerLinkActive="active">Asesores</a>
    </li>
    <li class="nav-item">
      <a routerLink="/clientes" class="nav-link" routerLinkActive="active">Clientes</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
